<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="assets/style.css" />
    {% block extraheader %}{% endblock extraheader%}
</head>
<body {% block bodyattribute %}{% endblock bodyattribute %}">
{% block body %}
    BODY
{% endblock body %}
{% block footerwrapper %}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/script.js"></script>
{% endblock footerwrapper%}
{% block extrafooter %}
{% endblock extrafooter %}
</body>
</html>