{% extends "template/base.html" %}
{% block title %}
        Instagram wall
{% endblock title %}

{% block extraheader %}<meta http-equiv="refresh" content="3600000" />{% endblock extraheader %}
{% block bodyattribute %} data-lastfetch="{{ dt }}" {% endblock bodyattribute %}
{% block body %}
    <div class="banner">
        <h1>V&A Instagram feed</h1>
    </div>
{% for first in image|batch(1)|first %}
    <div class="main_image">
        <div class="polaroid">
            <img id="core_image" src="{{ first.image_photo_url }}" />
            <div class="meta">
                <img class="user_avatar" src="{{ first.user_avatar_url }}" />
                <p class="user_name">
                    {% if first.user_real_name != "" %}
                    {{ first.user_real_name }}
                    {% else %}
                    {{ first.user_name }}
                    {% endif %}
                </p>
                <p class="created_datetime">
                    {{ first.created.strftime('%A %d %b') }}
                </p>
            </div>
            <div class="caption">
                {{ first.caption }}
            </div>
        </div>
    </div>
{% endfor %}
    <div class="thumbnails">
        {% for insta in image %}
            {% if not loop.first %}
            <a href="{{ insta.image_url }}">
                <img src="{{ insta.image_photo_url }}" />
            </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}